/* 
#5D5C61 - Dark Grey
#379683 - Lighter Grey
#7395AE - Lighter Blue
#557A95 - Blue
#B1A296 - Brownish Grey
*/

body {
    background-color: #5D5C61;
    color: white;
    font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    padding-top: 20px;
}

i {
    font-size: 60px;
    color: black;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, 
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}

.nav-link,
.nav-link-active {
    color: white;
    font-size: xx-large;
    justify-content: center;
}

.carousel-item {
    text-align: center;
}

#headshot {
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#headshot img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

#projects.img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

#nav-main {
    justify-content: center;
    border-bottom: 3px solid black;

}

#about-me-info {
    padding: 5%;
    justify-content: center;
}

#experience {
    background-color: #B1A296;
    padding: 20px 20px;
}

#experience-info.h1 {
    text-align: left;
}

#contact {
    background-color: #B1A296;
    padding-top: 20px;
}

#socials {
    background-color: #B1A296;
    text-align: center;}

#projects.h1 {
    text-align: center;
}